* {margin:0;padding:0;border:0;}
body {background: #DEEAFA;color:black;font-family:"trebuchet ms", Arial, Helvetica, sans-serif;font-size:13px;text-align:center;margin-top:100px;}
#stranka {width:750px;margin:0 auto;text-align:left;border:1px solid #AFB5BD;background:#FFFFFF;}

#logo {width:700px;margin:0px auto;text-align:left;border-bottom:1px solid #AFB5BD;background:#FFFFFF;}
#logo a {font-size:60px;padding:10px;color:#4e4eb0;}
#logo a:hover {text-decoration:none;}
#logo a:link {text-decoration:none;}
#logo a:visited {text-decoration:none;}

#menu{width: 200px;float: right;background:#E0E2E4;}
#menu h2{width:193px;height:22px;color:white;padding:4px;padding-top:5px;background:#AFB5BD;font-size:15px;}
#menu ul{list-style: none;margin:10px;}
#menu ul li {margin-top:3px;}
#menu ul li a{display:block;padding:8px;width:159px;height: 18px;color:black;background:#FFFFFF;border:1px solid #AFB5BD;}
#menu ul li a:hover {color:black;width:159px;text-decoration:none;background: #DEEAFA;}


#obsah {color:black;padding:20px;width:480px;}
#obsah h2 {color:#AFB5BD;font-size:17px;padding-left:13px;padding-top:10px;margin-bottom:20px;border-bottom: 1px solid #AFB5BD;}
#obsah p {margin-top:20px;}
#obsah a {color:black;}
#obsah a:hover {color:black;text-decoration:none;}
#obsah ul li {margin-left:40px;padding:2px}
#obsah ul {margin-top:10px;}

#ramecek {width:138px;border: 1px solid #AFB5BD;margin:10px;background:#FFFFFF;padding:20px;}
#ramecek menu li {list-style-image: url('img/odrazka.png');}
#ramecek menu li a {color:#000000;text-decoration:underline;}
#ramecek menu li a:hover {text-decoration:none;}
#ramecek a {width:178px;}

#paticka {padding: 9px 20px 0px 20px;width: 660px;height: 30px;font-weight: bold;clear:both;border-top: 1px solid #AFB5BD;background:#FFFFFF;margin:0 auto;}
#paticka a {color: black;}
#levo{color: black;float: left;}
#pravo {color: black;display: block;padding-right: 5px;padding-left: 5px;float: left;}
#pravo a{padding-right: 5px;border-right: 1px solid #424242;}
#pravo a:hover{text-decoration: none;}
#pravo a.posledni{border: 0;}

.nahledovy {float:left;margin:1px;}
